body{
    font-family: 'Roboto', sans-serif;
}
.get-start{
    background-color: #21B573;
    padding: 5px 40px;
    border-radius: 50px;
    border: none;
    color: white;
}
sing-in{
    background-color: rgb(113, 199, 113);
    padding:1px 1px 2px 2px;
    border-radius: 50px;
    border: none;
    color: white;
    text-align: center;
}
.img{
    width: 20%;
}

.container{
    margin-bottom: 100px;
}
.img-head{
    width: 100%;
}
.navbar-nav{
    font-size: 20px;
}
.icon{
    width:80px;
    height:100 px;

}
.item-1, .item-2, .item-3, .item-4 {
    padding: 20px 20px;
    background-color: rgb(244, 249, 250);
    border-radius: 10px;
    height: 100%;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey ;
}
.man{
    width: 110px;
}
.header{
    text-align: center;
}
.hi-1{
    color: #FC5C28;
}
.hilit-2{
    color: #21B573;
}
.header-bg{
    background-color: #F0FFF0;
}
.footer{
    background-color: #282531;
    padding: 50px 20px 20px 20px;
    color: white;
}
.no{
    list-style-type: none;
}
b{
    font-size: 20px;
}
.f-item{
    padding: 20px;
}
.card-footer{
    border-top: none;
}
.s-icon{
    width: 25px;
}

.col-md-3 :hover{
    background-color: white;
    box-shadow: 5px 5px 20px gray;
}
